.my-swal {
  z-index: 2000;
}

.clave {
  border: 1px solid black;
  background-color: #34495E;
  color: white;
  font-weight: bold;
}

.value {
  border: 1px solid black;
  background-color: #AED6F1;
  color: black;
  font-weight: bold;
}